body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 50px auto;
  max-width: 400px;
  padding: 20px;
  text-align: center;
}

h2 {
  margin-top: 0;
}

input[type="text"], input[type="password"] {
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) inset;
  font-size: 16px;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
  box-sizing: border-box;
}

input[type="text"]:focus, input[type="password"]:focus {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 0 5px rgba(52, 152, 219, 0.5) inset;
  outline: none;
}

button[type="submit"] {
  background-color: #3498db;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #2980b9;
}

.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 10px;
}

.container {
  max-width: 500px; /* anpassen an Ihre Anforderungen */
  margin: 0 auto;
}


/*Ab hier headline*/
.headline {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 1rem;
}

.headline a {
  color: #333;
  text-decoration: none;
}

.login-form {
  /* hier können Sie die Höhe des Login-Formulars anpassen */
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.categories {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.categories li {
  margin: 0 1rem;
}

.categories a {
  text-decoration: none;
  color: #666;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
}

.categories a:hover {
  color: #333;
}


/*Hier Footer*/

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #f5f5f5;
  padding: 1rem 0;
  font-size: 0.8rem;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container a {
  text-decoration: none;
  color: #666;
  margin-left: 1rem;
}